@model DataGov_API_Intro.Models.Parks

@{
  ViewData["Title"] = "Index";
}

<h2>National Parks Index</h2>
<br/>
<h3> Park Name, State, Latitude and Longitude </h3>

@foreach (DataGov_API_Intro.Models.Park park in Model.data)
{
  @(park.fullName + " " + park.states + " " + park.latLong)
  <br />
}